@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../imagens/imagenssite/fundo.jpeg');
    background-color: black;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

header {
    background-color: rgb(212, 212, 212);
    padding: 10px;
    transition: .5s;
    position: sticky;
    top: -1px;
    z-index: 10;

}

header #title {
    display: flex;
    align-items: center;
}

header #img1 {
    width: 100px;
    transition: .5s;
}

header #img2 {
    width: 100px;
    height: 60px;
    margin-right: 50px;
    transition: .5s;
}

header.rolagem {
    background-color: #6d453400;
    box-shadow: none;
    transition: .5s;
}

header.rolagem #img1 {
    width: 80px;
    transition: .5s;
}

header.rolagem #img2 {
    width: 80px;
    height: 55px;
    transition: .5s;
}

header.rolagem div, header.rolagem div a, header.rolagem #pe a{
    background-color: #6d453400;
    transition: .5s;
    text-shadow: none;
}

header.rolagem #pe, header.rolagem #burguer{
    display: none;
}

header.rolagem .logos {
    height: 15px;
    width: 15px;
    transition: .5s;
}

header.rolagem #usu {
    font-size: 15px;
    transition: .5s;
}

header.rolagem #logout {
    font-size: 15px;
}

header.rolagem #openMenu, header.rolagem #closeMenu{
    display: block;
    transition: .5s;
}

header h1 {
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    margin-top: 11px;
}


#topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(212, 212, 212);
    margin: -10px;
}

#shield img {
    margin-right: 5px;
}

#logo {
    margin-right: 35px;
}

#logo img {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin: 5px;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #073260f1;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 10px;

    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}

label {
    color: white;
    margin-left: 10px;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
}

#idata {
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 25px;
    width: 100%;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.425);
    border: none;
}

#idsexo {
    border-radius: 25px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.425);
}

.tel {
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 25px;
    width: 100%;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.425);
    border: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.425);
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button[type="reset"] {
    background-color: #f0f0f0;
    color: #333;
    float: right;
}

footer {
    background-color: rgb(27, 27, 27);
    color: white;
    text-align: center;
    align-items: end;
}